.main {
    background: #F1F1FF;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    color: #1B153D;
    line-height: 48px;
    letter-spacing: -0.24px;
    font-weight: 700;
    font-size: 36px;
}

.tabs {
    display: flex;
    gap: 20px;
}

.tabs h1 {
    cursor: pointer;
    transition: all 0.05s ease-in-out 0.05s;
}

.active {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #17A030;
    border-bottom: 2px solid #17A030;
    padding-bottom: 3px;
}

.tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(144, 149, 166, 0.65);
}

.cardWrapper {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .cardWrapper {
        gap: 20px;
    }

    .main {
        padding: 15px;
    }
}